#stub1
{
	top				: 0px;
	left			: 0px;
	position		: absolute;
	padding-top: 5px;
    border 			: 1px solid rgba(0, 0, 0, 0.5);
    border-radius	: 12px 12px 3px 3px;
    box-shadow		:
    	0px 2px 6px rgba(0, 0, 0, 0.5),
    	inset 0 1px rgba(255, 255, 255, 0.3),
    	inset 0 10px rgba(255, 255, 255, 0.2),
    	inset 0 10px 20px rgba(255, 255, 255, 0.25),
    	inset 0 -15px 30px rgba(0, 0, 0, 0.3);
}

.stub_item
{
    /*margin-left     : 20px;*/
    text-align: center;
    padding-top     : 5px;
    overflow        : hidden;
}


.stub_itemimg
{
    /*margin-left     : 10px;*/
    text-align: center;
    padding-top     : 5px;
    overflow        : hidden;
} 
